<a href="https://colab.research.google.com/github/kubraerat/Advanced-Probability-for-Discrete-Systems/blob/master/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Soru:

Bir zar iki kere atılıyor. Tek sayı gelmesine ait kesikli olasılık dağılımını bulunuz.

# Çözüm: 

$s(S)=6x6=36$

$S={(1,1), (1,2),(1,3),(1,4),(1,5),(1,6),(2,1), (2,2),(2,3),(2,4),(2,5),(2,6),(3,1), (3,2),(3,3),(3,4),(3,5),(3,6),(4,1), (4,2),(4,3),(4,4),(4,5),(4,6),(5,1), (5,2),(5,3),(5,4),(5,5),(5,6),(6,1), (6,2),(6,3),(6,4),(6,5),(6,6)}$



** Rastgele değişken**

$X:$Tek sayı gelmelerin sayısı

$X={0,1,2}$



**$PMF$**

$X$ | $0$ | $1$ | $2$
--- | --- | --- | ---
$P(X=x)$ | $\frac{9}{36}$ |  $\frac{18}{36}$  |  $\frac{9}{36}$


$P(X=0) = \frac{3}{6}*\frac{3}{6}=\frac{9}{36}$

$P(X=1) = (\frac{3}{6}*\frac{3}{6}) + (\frac{3}{6}*\frac{3}{6})=\frac{18}{36}$

$P(X=2) = \frac{3}{6}*\frac{3}{6}=\frac{9}{36}$

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import itertools 

l = list(permutations(range(1, 7),2))

In [65]:
df = pd.DataFrame(np.array(l), columns=['counts', 'b'])
df = pd.DataFrame(df['counts'].value_counts()+1)
df

   counts
6       6
5       6
4       6
3       6
2       6
1       6

In [66]:
length=len(l)+6

df["Prob"] = df["counts"]/length

df

   counts      Prob
6       6  0.166667
5       6  0.166667
4       6  0.166667
3       6  0.166667
2       6  0.166667
1       6  0.166667